*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img\ 3/jumbo.png);
    background-size: contain;
    width: 100%;
    min-height: 200px;
}

.first-titol, .first-paragraph, .last-titol, .last-paragraph{
    text-align: center;
    
}

.first-titol{
    font-size: 40px;
    color: white;
}

.first-paragraph{
    margin: 20px;
    color: white;
}

input{
    padding: 15px;
    border-radius: 20px;
    border: none;
}

.second-input{
    background-color: black;
    color: white;
}
header{
    display: flex;
    flex-wrap: wrap;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

.navigator{
    padding: 1em;
    width: 80%;
    margin: auto;
    margin-top: 1em;

}

.logo{
    color: white;
}

.large1{
    width: 20%;
    color: white;
}

.large2{
    width: 60%;
}
.large3{
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
}
.fix{
    display: flex;
    justify-content: space-around;

}

a{
    text-decoration: none;
    color: white;
}

.secondconteiner{
    width: 100%;
    min-height: 350px;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.smallbox{
    width: 60%;
    margin-top: 40px;
    height: 300px;
}

.margin-par{
    margin-top: 20px;
}


.boxed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    flex-wrap: wrap;
}


.firstmc{
    width: 50%;
    min-height: 350px;
}

.secondmc{
    width: 20%;
    padding: 20px;
    min-height: 350px;
}

.flexmainContainer_2{
    flex-direction: row-reverse;
    background-color: #d3d3d3;
    
}

.lastmaincontainer{
    background-color: #d3d3d3;
    padding: 80px;
}

.lastson{
    min-height: 600px;
    width: 80%;
}


.firstfooter{
    background-color: #23272a;
    padding-top: 0.5em;

}

.leftcontainer{
    min-height: 450px;
    width: calc(80% / 3 * 1);
    background-color: #f08080;
}

.rightcontainer{
    min-height: 450px;
    width: calc(80% / 3 * 2);
    background-color: #20b2aa;
    display: flex;
}

#dashed{
    border: 1px dashed white;
    width: calc(100% / 4);
}

.secondfooter{
    background-color: #23272a;
    border-top: 1px solid white;
    padding-bottom: 0;
}

.lastlink{
    background-color: #7fffd4;
    width: 80%;
    padding: 2em;
}