*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img\ 3/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
}

.first-titol, .first-paragraph, .last-titol, .last-paragraph{
    text-align: center;
    
}

.first-titol{
    font-size: 40px;
    color: white;
}

.titol-section{
    font-size: 40px;
}

.first-paragraph{
    margin: 20px;
    color: white;
}

input{
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}

.second-input{
    background-color: black;
    color: white;
    margin-left: 40px;
}
header{
    display: flex;
    flex-wrap: wrap;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;

}

.navigator{
    padding: 1em;
    width: 80%;
    margin: auto;
    margin-top: 1em;

}

.logo{
    color: white;
}

.large1{
    width: 20%;
    color: white;
}

.large2{
    width: 60%;
    padding-left: 150px;
    font-size: 12px;
}
.large3{
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
}
.fix{
    display: flex;
    justify-content: space-around;

}

a{
    text-decoration: none;
    color: white;
}

.secondconteiner{
    width: 100%;
    min-height: 350px;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.smallbox{
    width: 60%;
    margin-top: 40px;
    height: 300px;
}

.margin-par{
    margin-top: 20px;
}


.boxed{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    flex-wrap: wrap;
}


.firstmc{
    max-width: 50%;
    min-height: 350px;
}

.secondmc{
    max-width: 30%;
    padding: 20px;
    min-height: 350px;
}

.flexmainContainer_2{
    flex-direction: row-reverse;
    background-color: #d3d3d3;
    width: 100%;
}


.lastmaincontainer{
    background-color: #d3d3d3;
    padding: 80px;
}

.lastson{
    min-height: 600px;
    width: 80%;
}

.center{
    text-align: center;
}
.last-button{
    margin-top: 30px;
    background-color: cornflowerblue;
    color: white;
}

.ita{
    max-width: 20px;
    color: black;
}
.firstfooter{
    background-color: #23272a;
    padding-top: 0.5em;
    border-bottom: 1px solid white;

}

.leftcontainer{
    min-height: 350px;
    width: calc(80% / 3 * 1);
    padding: 90px;
    
}

.rightcontainer{
    min-height: 350px;
    width: calc(80% / 3 * 2);
    display: flex;
    padding: 90px;
    
}

#dashed{
    width: calc(100% / 4);
}

.secondfooter{
    background-color: #23272a;
    padding-bottom: 40px;
}

.lastlink{
    width: 80%;
}


.fa-twitter, .fa-instagram, .fa-facebook, .fa-youtube, .ita{
    margin-top: 10px;
    color: white;
    font-size: 12px;
}

.fa-twitter, .fa-instagram, .fa-facebook, .fa-youtube{
    margin-right: 10px;
}

.footer-color{
    color: cornflowerblue;
    font-size: 25px;
}

.footer-right{
    text-align: left;
    margin-top: 10px;
    font-size: 12px;
    color: white;
}

.right-titol{
    color: cornflowerblue;
}

.lastlink{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: baseline;
}

.registrati{
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
    font-size: 12px;
}

.star{
    display: block;
    margin: auto;
}
